#waybar {
    background: none;
    color: #ffffff;
    font-family: "JetBrainsMono NF";
    font-size: 14px;
    font-weight: 600;
}

button {
    color: #ffffff;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    border: 1px solid transparent;
    padding: 0 4px;
}

#workspaces button.active {
    background-color: #1A2A4F;
    border: 1px solid #51A2DA;
    border-radius: 8px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#battery,
#pulseaudio,
#tray,
#mode {
    padding: 0 4px;
    margin-right: 6px;
    color: rgb(255, 255, 255);
}

#battery.warning {
    color: #f27611;
    background-color: #ffdbb6;
}

#battery.critical {
    color: #cf0202;
    background-color: #f7a5a5;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}
