[user]
	name = riadhlaabidi
	email = riadh.by.laabidi@gmail.com
	signingKey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = True
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
